<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <p>hello</p>
  <form action="result/" method="post" enctype="multipart/form-data"> {% csrf_token %}
    <input type="text" name="sample" id="s"><br><br>
    <input type="file" accept=".png" name="test_file"><br><br>
    <input type="submit" value="Upload Image"><br>
  </form>
</body>

</html>